<footer class="main-footer" id="main-footer">

	<div class="container-fluid">

		<div class="row">

			<div class="col-sm-4">

				

			</div><!-- /.col-sm-6 -->

			<div class="col-sm-8 text-right">

				&copy; {{ "now"|date("Y") }} {{ site.name }} &nbsp;&middot;&nbsp; <a href="{{ function('wp_login_url') }}">Admin Login</a> &nbsp;&middot;&nbsp; Site by <a href="http://chrisgherbert.com">Chris Herbert</a>

			</div><!-- /.col-sm-6 -->

		</div><!-- /.row -->

	</div><!-- /.container -->

</footer>