{% extends "base.twig" %}

{% block content %}

	<div class="content-wrapper">

		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">

			<section class="article-content">

				{% block page_title %}

					<h1 class="article-h1">{{post.title}}</h1>

				{% endblock %}

				{% block page_main_content %}

					<div class="article-body">
						{{post.content}}
					</div>

				{% endblock %}

			</section>

		</article>

	</div><!-- /content-wrapper -->

{% endblock %}